
<div id="page-top" class="backmain" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" >Color Classifier - Neural Network</h2>
                <hr  id="hrl">
            </div>
        </div>
        

    </div>
    <div class="row" >
        <div class="col-lg-11 change"  id="change" style="margin: 0px;border-top-right-radius: 20px;border-bottom-right-radius:20px ;">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 text-align" style="padding: 4%;" >
                    <h3 style="padding-top: 50px;">Discription</h3>
                    The ml5.soundClassifier() allows you to classify audio. With the right pre-trained models, you can detect whether a certain noise was made (e.g. a clapping sound or a whistle) or a certain word was said (e.g. Up, Down, Yes, No). At this moment, with the ml5.soundClassifier(), you can use your own custom pre-trained speech commands or use the the "SpeechCommands18w" which can recognize "the ten digits from "zero" to "nine", "up", "down", "left", "right", "go", "stop", "yes", "no", as well as the additional categories of "unknown word" and "background noise"."   </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center" style="padding: 4%;">
                    <img src="assets/images/posenet.svg" alt="image" style="width: 300px;height:300px;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row "  style="margin-right: 0px;">
       
       
        <div class="col-lg-12 change " id="change" style="border-top-left-radius: 20px;border-bottom-left-radius:20px ;">
            <div class="row" >
                
                <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding: 4%;">
                    <h3>The Example</h3>
                    <p>Predict the Things using Mobilenet Just by Uploading a image</p>
                </div>
                <div class="col-lg-12 text-center" style="padding-left: 4%;padding-right: 4%;padding-bottom: 4%;">
                   
<img width="300px" *ngIf="imageUrl" [src]="imageUrl" class="image">
<br><div class="record fileUpload">
                    <input   class="input upload" (change)="onFileSelected($event)" #Image type="file" (change)="handleFileInput($event.target.files)" id="frontImage">
                    <span>upload Here</span>  
                </div>
                    <br>
                    <p *ngFor="let item of imagecaption; let i = index">
                        <span>caption:</span>&nbsp;<span>{{imagecaption[i]}}</span><br>
                        <span>Probability:</span>&nbsp;<span>{{captionprobability[i]}}</span>

                    </p>
                </div>
               
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" >
        <div class="col-lg-11 change"  id="change" style="margin: 0px;border-top-right-radius: 20px;border-bottom-right-radius:20px ;">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 text-center" style="padding: 4%;" >
                    <h3 style="padding-top: 100px;">Sound</h3>
                    <p >Create your own neural network and train it in the browser with the ml5.neuralNetwork. Collect data to train your neural network or use existing data to train your neural network in real-time. Once it is trained, your neural network and do classification or regression tasks.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center" style="padding: 4%;">
                    <img src="assets/images/sticker2.svg" alt="image" style="width: 300px;height:300px;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row servivesprovided" style="margin-right: 0px;">
       
        <div class="col-lg-1"></div>
        <div class="col-lg-11 change"  id="change" style="margin: 0px;background: linear-gradient(to bottom, #fff 0%, #229dd6 100%);border-top-left-radius: 20px;border-bottom-left-radius:20px ;">
            <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-12 text-center" style="padding: 4%;">
                    <img src="assets/images/sticker2r.svg" alt="image" style="width: 300px;height: 300px;">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 text-center" style="padding: 4%;">
                    <h3 style="padding-top: 100px;">Text</h3>
                    <p>Create your own neural network and train it in the browser with the ml5.neuralNetwork. Collect data to train your neural network or use existing data to train your neural network in real-time. Once it is trained, your neural network and do classification or regression tasks.</p>
                </div>
               
            </div>
        </div>
    </div>
</div>
